[class^='icon_'],
[class*=' icon_'] {
  background: none;
}
.warning {
  color: red;
}
ngTree {
  font-size: 20px;
}
.icon-bin,
.icon-plus,
.icon-edit {
  color: #aaa;
}
.icon-bin:hover {
  color: red;
}
.icon-plus:hover {
  color: #888;
}
.icon-edit:hover {
  color: green;
}
.demos {
  text-align: center;
}
.demos h2 {
  padding: 10px 0.5em;
  margin: 0;
}
.demos .demo {
  overflow: auto;
  text-align: left;
  display: inline-block;
  vertical-align: top;
  height: 400px;
  padding: 5px;
  width: 280px;
}
